<<<<<<< HEAD
.banner {
    background: #b30000;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 34px;
    font-weight: bold
}

.stButton>button {
    background: #b30000;
    color: white;
    border-radius: 8px
=======
.banner {
    background: #b30000;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 34px;
    font-weight: bold
}

.stButton>button {
    background: #b30000;
    color: white;
    border-radius: 8px
>>>>>>> f88a88dfda16b556c87a6d509484fa94ccb6c34b
}